<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
       <center> <title>{% block title %}PARTE UNO{% endblock %}</title></center>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/style.css') }}" />
               <link rel="stylesheet" href="{{ asset('public/css/miestilo.css') }}" />
        {% endblock %}
      
    </head>
    <body>
        {% block body %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ include('menu.html.twig') }}
            {% endif %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-1.11.3.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/bootbox.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
