{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
       
        <section>
        {{ include('UnoMainBundle:User:messages/success.html.twig') }}
        <div class="col-md-10 col-lg-offset-2" id="menu"> <h4>  {%if k is defined and k>0  and app.user.role == 'ROLE_USER'%}MODIFIQUE LOS PRONOSTICOS PARA CONTINUAR{%else%}EXPEDIENTES EN TRAMITACIÓN{%endif%}</h4> </div>
         
  
	<div class="container col-md-12" id="despa">
            
            <div class="panel-heading" ></div> <table class="table table-striped table-hover table-condensed"> 
                
                <tr class="info"> 
                    <th><center>#</center></th>{% if app.user.role == 'ROLE_ADMIN' %}<th><center>   <a href="{{ path('uno_main_order', { parametro: 'municipio' ,index:1 }) }}" style="color: black">Municipio <span class="glyphicon glyphicon-menu-down"></span> </a></center></th>{% endif %} <th><center style="color: black"><clas>Num. Expediente</center></th><th><center><a href="{{ path('uno_main_order', { parametro: 'unidad' ,index:1}) }}"style="color: black" >Unidad <span class="glyphicon glyphicon-menu-down"></span></a></center></th> <th><center><a href="{{ path('uno_main_order', { parametro: 'delito' ,index:1}) }}"style="color: black">Delito <span class="glyphicon glyphicon-menu-down"></span></a></center></th> <th><center><a href="{{ path('uno_main_order', { parametro: 'fechainicial',index:1 }) }}" style="color: black">Fecha de Inicio <span class="glyphicon glyphicon-menu-down"></span></a></center></th><th style="color: black"><center>Término Tramitación</center></th><th><center><a href="{{ path('uno_main_order', { parametro: 'pronostico',index:1 }) }}" style="color: black">Fecha Pronóstico <span class="glyphicon glyphicon-menu-down"></span></a></center></th><th>  </th><th>  </th><th>  </th></tr> 


   {%if k is defined and k>0 and app.user.role == 'ROLE_USER'%}
{% for producto in productos  %} 
    
 
        
        {%if mayor[loop.index0]==1%}
            
{%if termi[loop.index0]>60 and app.user.role == 'ROLE_ADMIN' or filtro=='filtro' %}
    <tr> <td><center>{{loop.index}}</center></td>{% if app.user.role == 'ROLE_ADMIN' %}<td><center>{{producto.municipio}}</center></td>{% endif %} <td ><center>{{producto.numExpediente}}</center></td></center><td><center>{{producto.unidad}}</center></td> <td><center>{{producto.delito}}</center></td><td><center>{{producto.fechainicial|date('d-m-Y') }}</center></td>{% if termi[loop.index0]>90%}<td style="color: brown ">  {% elseif true   %}<td>{% endif %} <center>{{termi[loop.index0]}}</center></td><td style="background-color: #ffbb49"><center>{{producto.pronostico|date('d-m-Y')}}</center></td> <td>
			                        <a href="{{ path('uno_main_vexp', { id: producto.id }) }}" id="ver" class="btn btn-sm btn-info"><li class="glyphicon glyphicon-eye-open"></li>
			                          {{ 'Ver'|trans }}
			                        </a>
</td><td>
			                       <a href="{{ path('uno_main_editguardar', { id: producto.id }) }}" class="btn btn-sm btn-primary"> <li class="glyphicon glyphicon-pencil"></li>
			                            {{ 'Editar'|trans }}
			                        </a>
</td><td>
			                        <a href="{{ path('uno_main_delete', { id: producto.id }) }}" id="eliminar" class="btn btn-sm btn-danger btn-delete"onclick="return confirm('¿Estás seguro?')"><li class="glyphicon glyphicon-trash "></li>
			                            {{ 'Eliminar'|trans }}
			                        </a>
				               </td>
				                </td>
</tr> {% endif %}{%endif%}{% endfor %}{%else%}


{% for producto in productos  %} 
    
 
        
     
            
{%if termi[loop.index0]>60 and app.user.role == 'ROLE_ADMIN' or filtro=='filtro' %}
    {%if mayor is defined and mayor[loop.index0]==1%}<tr style="background-color: #ffbb49">{%else%}<tr>{%endif%} <td><center>{{loop.index}}</center></td>{% if app.user.role == 'ROLE_ADMIN' %}<td><center>{{producto.municipio}}</center></td>{% endif %} <td ><center>{{producto.numExpediente}}</center></td></center><td><center>{{producto.unidad}}</center></td> <td><center>{{producto.delito}}</center></td><td><center>{{producto.fechainicial|date('d-m-Y') }}</center></td>{% if termi[loop.index0]>90%}<td style="color: brown ">  {% elseif true   %}<td>{% endif %} <center>{{termi[loop.index0]}}</center></td><td><center>{{producto.pronostico|date('d-m-Y')}}</center></td> <td>
			                        <a href="{{ path('uno_main_vexp', { id: producto.id }) }}" id="ver" class="btn btn-sm btn-info"><li class="glyphicon glyphicon-eye-open"></li>
			                          {{ 'Ver'|trans }}
			                        </a>
</td><td>
			                       <a href="{{ path('uno_main_editguardar', { id: producto.id }) }}" class="btn btn-sm btn-primary"> <li class="glyphicon glyphicon-pencil"></li>
			                            {{ 'Editar'|trans }}
			                        </a>
</td><td>
			                        <a href="{{ path('uno_main_delete', { id: producto.id }) }}" id="eliminar" class="btn btn-sm btn-danger btn-delete"onclick="return confirm('¿Estás seguro?')"><li class="glyphicon glyphicon-trash "></li>
			                            {{ 'Eliminar'|trans }}
			                        </a>
				               </td>
				                </td>
</tr>
{% endif %}{%endfor%}{% endif %}


</table></div>
        </section>
        
       
{% endblock %}

